@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800");

:root {
  --backgroundDark: #f4f6f7;
  --background: #fff;
  --primary: #165ddd;
  --primaryHover: #1555cc;
  --grayText: #787f8a;
  --mainText: #3b4560;
  --dark1: #10100e;
  --dark2: #3b4560;
  --borderColor: #c7d0d8;
  --line: #eff3f4;
  --transPrimary: #f2f7ff;
  --primaryBorder: #a9c8fd;
  --red: #f4212e;
  --transRed: #fee8ea;
}
* {
  font-family: "Assistant", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: #c4c9d2 #e3e5ea;
}
.toastContainer .Toastify__toast {
  padding: 16px;
  color: var(--mainText);
  border-radius: 12px;
}
.container {
  width: 1280px;
  max-width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
}
.navbar {
  width: 275px;
  height: 100%;
  overflow: hidden;
  border-right: 1px solid var(--line);
}
.content {
  flex: 1;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
@media only screen and  (max-width: 1280px) {
  .navbar {
    width: auto;
  }
}
@media only screen and  (max-width: 640px) {
  .content{
    height: calc(100dvh - 88px);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  .navbar {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 88px;
    padding: 8px;
    overflow: hidden;
    background-color: var(--background);
  }
}

.active-tab {
  position: relative;
  font-weight: 700;
}
.active-tab::after {
  content: "";
  width: 60%;
  height: 4px;
  border-radius: 100px;
  background-color: var(--primary);
  position: absolute;
  bottom: 0;
  left: 20%;
}
.active-tab:hover {
  background-color: var(--line);
}
.defaultNav span:nth-child(1) {
  display: none;
}
.defaultNav  span:nth-child(2) {
  display: flex;
}
.activeNav  span:nth-child(1) {
  display: flex;
}
.activeNav  span:nth-child(2) {
  display: none;
}
.cropper-modal {
  background-color: rgb(226, 232, 240);
  opacity: 0.5;
}
/* Customize tooltip (React Tooltip) */
.react-tooltip {
  padding: 8px 12px !important;
  border-radius: 12px !important;
  font-size: 14px !important;
}
