@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=M+PLUS+Rounded+1c&display=swap");

:root {
  --backgroundDark: #eff3f4;
  --background: #fff;
  --primary: #165ddd;
  --primaryHover: #1555cc;
  --grayText: #787f8a;
  --mainText: #3b4560;
  --dark1: #10100e;
  --dark2: #3b4560;
  --borderColor: #c7d0d8;
  --line: #eff3f4;
  --transPrimary: #f2f7ff;
  --primaryBorder: #a9c8fd;
}
* {
  font-family: "Assistant", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: #c4c9d2 #e3e5ea;
}
.toastContainer .Toastify__toast {
  padding: 16px;
  color: var(--mainText);
  border-radius: 12px;
}
.container {
  width: 1280px;
  height: 100dvh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
}
.navbar {
  width: 275px;
  height: 100%;
  overflow: hidden;
  border-right: 1px solid var(--line);
}
.content {
  flex: 1;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.defaultNav > div > span:nth-child(1) {
  display: none;
}
.defaultNav > div > span:nth-child(2) {
  display: flex;
}
.activeNav > div > span:nth-child(1) {
  display: flex;
}
.activeNav > div > span:nth-child(2) {
  display: none;
}
